# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.pdb
*.user
*.aps
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
.idea/
#Nuget packages folder
#我们自己的构建文件
packages/
build/
out/
cmake-build-debug/
/cmake-build-*
/core/doodle_core.xmind
/.idea/
/.venv/
/install*
CMakeUserPresets.json

*.exp
#忽略python文件
*.pyc
.vscode/**.VC.**
*.mll
/imgui.ini
*.sqlite
**/PluginMenu/Intermediate/*
*.modules
.run
